/* jerrywaller css 10jun2012 */

/* Header styles and code */

    #header {
        clear:both;
        float:center;
        width:100%;			
        background:#092744;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		text-align:center;
		list-style:none;
		}

		#header ul {
		    clear:left;
		    float:left;
		    width:100%;
		    display:inline;
			position:center;
			text-align:center;
		    list-style:none;
		    margin:5px 5px 5px 0;
		    padding:5px;
		}
		#header ul li {
		    display:inline;
			position:center;
			text-align:center;
		    list-style:none;
		    margin:0;
		    padding:0;
		}
		#header ul li a {
		    display:inline;
		    float:left;
		    margin:0 20px 0 10px;
		    padding:3px 10px;
		    text-align:center;
		    list-style:none;
		    background:#092744;
		    color:#ffffff;
			font-family: "century gothic", helvetica, verdana, arial, "andale mono", sans-serif;
			font-variant: small-caps;
		    text-decoration:none;
		    position:left;
		    left:25px;
			line-height:2em;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
		#header ul li a:hover {
		    background:#626262;
			color:#ffffff;
			text-align:center;
			list-style:none;
			display:inline;
		}


		#header #menu.section1 li.portfolio a,
		 			#menu.section2 li.sas a,
		  			#menu.section3 li.gradschool a,
		  			#menu.section7 li.null a
					{background:#ADCDEB;}
/* END HEADER CODE */




/*************************************************************************************/
/*************************************************************************************/

/
/* MAIN DIV CONTAINER CODE */

.mastercol {
		position:relative;	/* This fixes the IE7 overflow hidden bug */
		clear:both;
		float:left;
		width:100%;			/* width of whole page */
		overflow:hidden;		/* This chops off any overhanging divs */
}

.betacol {
	float:left;
	width:100%;
	position:relative;
}


/* BEGIN INTERNAL COLUMN DIVS jw */

	#leftcol {
		float:left;
		position:relative;
		border:0px;
		background-color: #FFFFFF;
		width:15em;
		padding:1px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

	#leftcolinvis {
		float:left;
		position:relative;
		border:0px;
		background-color: transparent;
		width:15em;
		padding:1px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

	#centercol {
		float:left;
		position:relative;
		border:none;
		background-color: #ffffff;
		line-height:20px;
		width:800px;
		padding:15px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}


	#pillarofsmoke {
		float:left;
		position:relative;
		border:none;
		background-color:none;
		line-height:20px;
		width:1em;		
	}
	
	#codecol {
		float:center;
		position:relative;
		border:none;
		width:700px;
		background-color: #000000;
		font-size:80%;
		color: #1DA237;
		font-family:monospace;

		text-align: left;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

/*************************************************************************************/
/*************************************************************************************/


/* Body Styles */

body { 
	color: #999999; 
	background-color: #626262; 
	margin-top: 25px; 
	padding: 0em;
	font-size: small;
	}

h1 { 
	 font-family: "century gothic", helvetica, verdana, arial, "andale mono", sans-serif;
	 font-size: 60;
	 color: #000000;
	 text-align: center;
	}
	
h2 { font-family: "century gothic", helvetica, verdana, arial, "andale mono", sans-serif;
	 font-size: 30;
	 color: #000000;
	 text-align: left;
	}

h3 { 
	font-family: "century gothic", helvetica, verdana, arial, "andale mono", sans-serif; 
	letter-spacing: 1px; 
	margin-bottom: 0px; 
	color: #000000;
	}


p { 
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
	color: #000000;
	margin-top: 0px; 
	padding: 5px;
	}

folio {
	
}

/* Body Styles */

#table,th {
	border: 0px solid black;
}



a:link {
	color: #006BCE;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}
		 
a:visited {
	color: #006BCE;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}
		
a:hover {
	color: #996666;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}

.headline {
	font-size: 100%;
	color: #000000;
	font-weight: bold;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}
		   
.headline a:link {
	color: #488DB8;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}
			
.headline a:visited {
	color: #488DB8;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}
			 
.headline a:hover {
	color: #488DB8;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}

.formBody {
	font-size: small;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
	background-color: transparent;
	border-top-color: transparent;
}

.body {
	font-size: small;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
	background-color: transparent;
	border-top-color: transparent;
	margin-left: 1em;
	margin-right: 1em;
}

.body a:link {
	color: #006BCE;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}
			 
.body a:visited {
	color: #006BCE;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}
			 
.body a:hover {
	color: #488DB8;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}

.bold {
	font-size: 100%;
	color: #000000;
	font-weight: bold;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}
			
.bold a:link {
	color: #488DB8;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
	font-weight: bold;
}
			 
.bold a:visited {
	color: #488DB8;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}
			 
.bold a:hover {
	color: #488DB8;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}

.boldLink {
	font-size: 100%;
	color: #006BCE;
	font-weight: bold;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
	line-height: 180%
}
		   
.boldLink a:link {
	color: #006BCE;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
	font-weight: bold;
}

.boldLink a:visited {
	color: #006BCE;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}
			 
.boldLink a:hover {
	color: #488DB8;
	text-decoration: none;
	background-color: transparent;
	font-family: helvetica, verdana, arial, "andale mono", sans-serif;
}

/*************************************************************************************/
/*************************************************************************************/


/* horizontal styles via css-tricks.com */

/* Single-direction drop shadow */
		
hr.cloud {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}


#boxshadow {
	width:371px;
	height:142px;
	box-shadow: 10px 10px 10px 5px #888888;
}

/*************************************************************************************/
/*************************************************************************************/
/* footer styles and code */

    #footer {
        clear:both;
        float:left;
        width:100%;
    }